.date {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 16px;
  color: #080808;
}

  
.amount {
  position: absolute;
  bottom: 500px;
  left: 135px;
  font-size: 10px;
  color: #080808;
  
  
}
.center-image {
  height: 55%;
}

.container {
  display: flex;
  flex-direction: row;
}

.left {
  width: 50%;
}
.right {
  height: 100vh;
  width: 50%;
}
.right .image-container img {
  width: 44%;
}
.image-container{
  position : realative;
}

button{
  background-color: rgb(28, 140, 0);
  color: aliceblue;
  cursor: pointer;
}
